<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>География</title>
</head>

{%load static%}
<link rel="stylesheet" href="{% static 'css/geography.css' %}">
<header>
    <p><img src="{%static '/img/logo.png'%}"></p>
</header>
<body>
<div class="pagewrapper">
  <div class="container">
      <p>Навигация</p>
    <nav>
      <ul>
        <li><a href="/home/">Главная</a></li>
        <li><a href="/demand/">Востребованность</a></li>
        <li><a href="/geography/">География</a></li>
      </ul>
    </nav>
  </div>

<div class="text" >
    <h1 style="text-align:center">География</h1>
    <h2 style="text-align:center; border-bottom:10px solid black;">Все вакансии</h2>
    <div class="allJobs">

        <h2 class="hleft">Наибольшая средня зарплата по городам (Топ-20)</h2>

    </div>
    <div >
        <p class = bigimg><img src="{%static 'img/10mostpaid.png'%}"> </p>
        <p class = bigimg><img src="{%static 'img/top_20.png'%}"> </p>
        <h2 class="hleft">10 самых низких зарплат</h2>
        <p class = bigimg><img src="{%static 'img/electroisolator.png'%}"> </p>
    </div>


    <table class = 'firsttable'>
        <thead>
        <th>
        {% for el in cities%}
            <td class = 'tdst'>{{el}}</td>
            {%endfor%}
        </th>
        </thead>
        <tr>

        </tr>
        <tr>
            <td class = 'tdst'>Средняя зарплата</td>
            {% for el in salaries%}
            <td class = 'tdst'>{{el}}</td>
            {%endfor%}
        </tr>
        <tr>
            <td class = 'tdst'>Номер</td>
            {% for el in id%}
            <td class = 'tdst'>{{el}}</td>
            {%endfor%}
        </tr>
    </table>

    <h2 style="text-align:center;border-bottom:10px solid black;">Доля вакансий по городам</h2>

        <h2 style="=text-align:center;">Наибольшее количество вакансий</h2>


        <p class = bigimage><img src="{%static '/img/themostvacs.png'%}" > </p>

        <h2 style="=text-align:center;">72 -82 места</h2>
        <p class = bigimage><img src="{%static '/img/7282.png'%}"> </p>

            <table class = 'firsttable'>
        <thead>
        <th>
        {% for el in vCity%}
            <td class = 'tdst'>{{el}}</td>
            {%endfor%}
        </th>
        </thead>
        <tr>

        </tr>
        <tr>
            <td class = 'tdst'>Количество вакансий</td>
            {% for el in vacancies%}
            <td class = 'tdst'>{{el}}</td>
            {%endfor%}
        </tr>
        <tr>
            <td class = 'tdst'>Номер</td>
            {% for el in vacId%}
            <td class = 'tdst'>{{el}}</td>
            {%endfor%}
        </tr>
    </table>

</div>
</div>
</body>


<footer>Кошеленко Иван Денисович <РИ-210942></РИ-210942></footer>
</html>


