body{
    font: .9em/1.2 Arial, Helvetica, sans-serif
}
.header1 {
    border-left: 10px solid;
    border-right: 10px solid;
    background-color: #f2fa9d;
    text-align: center;
}

.text{
    background-color: #f1f1f1;
    width: 90%;
    padding: 0 30px;
    margin: 0 auto;
}
.container{
    width: 10%;
    border-right: 10px solid;
    background-color: #f1f1f1;
}

header{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    text-align: center;
}
.pagewrapper{
    display: flex;
    justify-content: space-between;
}

.compul{

    background-color: #46b02c;
}
.image{
    width: 300px;
    height:200px;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    background-color: rgb(207,232,220);
    padding: 1em;
}
.navigator{

}
