<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

{%load static%}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<header>
    <p><img src="{%static 'main/img/logo.png'%}"></p>
</header>
<body>
<div class="pagewrapper">
  <div class="container">
      <p ><strong>Навигация</strong></p>
    <nav >
      <ul>
        <li ><a href="">Главная</a></li>
        <li ><a href="/demand/">Востребованность</a></li>
        <li ><a href="/geography/">География</a></li>
      </ul>
    </nav>
  </div>

<div class="text" >
    <h1 class = "header1">Full-stack разработка</h1>
    <h2>Что такое Full-stack разработка?</h2>
    <div class="whatis">
    Full-stack разработчик (произносится “фулл стек”) — это некий мастер на все руки в мире веб-разработки. Ему под силу реализовать как клиентскую, так и серверную сторону приложения, которыми, обычно, занимаются FrontEnd и BackEnd разработчики раздельно друг от друга. В некоторых проектах Full-stack разработчик управляет проектом: взаимодействует с заказчиками, коллегами, подрядчиками, планирует ход работы по проекту, принимает стратегические решения по работе над продуктом. Таким образом, Full-stack специалист способен в одиночку вести проект от начала до конца.
Еще в далеких нулевых и ранее не существовало подобного разделения обязанностей между разработчиками. Относительная простота разрабатываемого ПО, равно как и технологии того времени, позволяли держать процессы, которые сейчас выполняют разные люди, в одних руках. К примеру, в те времена IT-специалист, именуемый веб-мастером, и внешний вид сайта создавал, и серверную часть реализовывал, и размещал сайт на хостинге. То есть, Full-stack разработчики существовали и раньше, просто никто их так не называл.
Однако, IT-сектор не стоял на месте. Требования к программным продуктам росли, появлялись новые языки и технологии, менялись подходы к разработке. Древо IT начало становиться все более и более ветвистым, порождая новые специальности. Вместе с этим, профессия универсального бойца разбилась на два отдельных направления, а затем вновь возродилась с гордым названием “Full-stack Developer”.
    </div>
    <h2>Необходимые компетенции</h2>
    <div class="competentions">
        Впрочем, хоть многие эксперты и утверждают, что Full-stack разработчик — понятие спорное, но вакансий не становится меньше, скорее даже наоборот. Поэтому следует разобраться какими знаниями и в каких областях нужно обладать, чтобы претендовать на такого рода позиции.
        Какой стек технологий и языков находится в распоряжении данного специалиста? Если говорить о FrontEnd составляющей (клиентская сторона), то она у всех примерно одинакова:
        <div >
        <ul class="compul">
            <li >язык верстки HTML и язык стилей CSS;</li>
            <li>языки программирования JavaScript и TypeScript;</li>
            <li>препроцессоры SASS и LESS;</li>
            <li>библиотека jQuery;</li>
            <li>фреймворк Bootstrap</li>
            <li>Angular/React/Vue.js;</li>
            <li>технологии DOM, AJAX, JSON;</li>
            <li>навыки адаптивной и кроссбраузерной верстки.</li>
            <li>реляционные (SQL) и нереляционные (NoSQL) базы данных, уметь их проектировать;</li>
            <li>разбираться в протоколах HTTP, HTTPS;</li>
            <li>уметь оперировать языком запросов SQL и одной из СУБД — MySQL / PostgreSQL / SQLServer,</li>
            <li>уметь проводить тестирование приложений;</li>
            <li>осуществлять Code Review;</li>
            <li>использовать Docker;</li>
            <li>владеть английским языком на уровне Intermediate и выше;</li>
            <li>знать популярные паттерны программирования и уметь их реализовывать;</li>
            <li>иметь хорошее знание алгоритмов и структур данных.</li>
        </ul>
        </div>
    </div>

    <h2>Плюсы работы Full-stack разработчиком</h2>
    <div> <h3>Возможность самостоятельно вести целый проект</h3>

Очевидное преимущество разработчика данной направленности заключается в объединении двух течений — FrontEnd и BackEnd — в одном специалисте. Помимо того, что такой профессионал способен реализовать обе части веб-приложения, он может беспроблемно настроить их взаимосвязь, что является частым камнем преткновения между фронтендщиками и бекендщиками. Тем самым устраняются недопонимания и противоречия, которые бы неизбежно возникли между несколькими разработчиками, трудящимися над одним и тем же продуктом.
Вячеслав Лобода, Senior Full-stack PHP Developer, о своей профессии отзывается следующим образом:

“Часто при решении задач веб-разработки возникает необходимость вносить правки одновременно и во FrontEnd, и в BackEnd. Для этого можно нанять двух разных специалистов или одного Full-stack разработчика. Последний вариант позволяет сэкономить время на коммуникацию”
<p ><img class = "image" src="{%static 'main/img/HomepageImg.jpg'%}"></p>
        <h3>Высокая скорость разработки, возможность принимать собственные решения, минимальные траты времени на лишнюю коммуникацию</h3>

    Full-stack разработчик — это уже специалист достаточно высокого уровня, который способен принимать определенные самостоятельные решения, не тратя время на лишние обсуждения и согласования с другими разработчиками, ведь проект целиком и полностью находится под его крылом.
        “Нравится, что могу создавать веб-приложения в одиночку, меньше задержек при работе. Например, когда работаешь как FrontEnd и нужно, чтобы BackEnd отдавал новые данные, ты просишь коллегу внести изменения, ждешь. Full-stack разработчику ждать никого не нужно. Взял и сделал как надо” — Геннадий Догаев, Web Full-stack Developer
        <h3>Легкость поиска работы на фрилансе</h3>
            На биржах фриланса заказчики зачастую ищут такого веб-специалиста, который сделает всю работу самостоятельно без привлечения дополнительных разработчиков. Кто, как не Full-stack девелопер лучше всего подойдет на эту роль, имея такое преимущество перед узкоспециализированными собратьями? Так что, выбрав данный путь, вы не останетесь без работы и сможете пользоваться всеми благами, которые дарит фрилансерство.
    </div>
    <h2>Минусы профессии Full-stack Developer </h2>
    <h3>Проигрыш узкоспециализированному разработчику на его поле боя</h3>
    Full-stack девелопер владеет многими инструментами, но не может знать каждый настолько же хорошо, насколько отдельно взятый специалист. Данная профессия предусматривает подобное распыление и делает практически невозможным углубление в какой-либо язык или технологию. Выходит, вы умеете все, но хуже, чем разработчик конкретного направления.
    <h3>Много времени на обучение</h3>

Технологий, которые должен освоить Full-stack специалист, много. Во время изучения, например, бекенда легко забыть то, что ты учил по фронтенду. Чтобы все знания и умения удерживать на хорошем уровне, необходимо тратить много усилий. Справиться с этим можно следующим образом: изучаете одну специальность, устраиваетесь на работу, а затем подучиваете второе направление. Выходит, вы не только текущие знания сохраняете, но и приумножаете их, двигаясь к фулл-стек разработке.

“Наращивайте компетенцию постепенно, с небольших задач. Пройдите курс по недостающему вам направлению, чтобы вникнуть в базовые принципы. А дальше осваивайте знания на практике по правилу Learning by doing” — Алексей Голубев, Team Lead Full-stack Developer в GlobalLogic.
</div>
</div>
</body>
<footer>Кошеленко Иван Денисович <РИ-210942></РИ-210942></footer>
</html>