<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

{%load static%}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<header>
    <p><img src="{%static 'main/img/logo.png'%}"></p>
</header>
<body>
<div class="pagewrapper">
  <div class="container">
      <p>Навигация</p>
    <nav>
      <ul>
        <li><a href="">Главная</a></li>
        <li><a href="/demand/">Востребованность</a></li>
        <li><a href="/geography/">География</a></li>
          <li><a href="/top10/">Топ-10 навыков</a></li>
          <li><a href="/sign/logout">Выйти из аккаунта</a></li>
      </ul>
    </nav>
  </div>

<div class="text" >
    <h1 class = "header1">Full-stack разработка</h1>
    <h2>Что такое Full-stack разработка?</h2>
    <div class="whatis">
    Full-stack разработчик (произносится “фулл стек”) — это некий мастер на все руки в мире веб-разработки. Ему под силу реализовать как клиентскую, так и серверную сторону приложения, которыми, обычно, занимаются FrontEnd и BackEnd разработчики раздельно друг от друга. В некоторых проектах Full-stack разработчик управляет проектом: взаимодействует с заказчиками, коллегами, подрядчиками, планирует ход работы по проекту, принимает стратегические решения по работе над продуктом. Таким образом, Full-stack специалист способен в одиночку вести проект от начала до конца.
Еще в далеких нулевых и ранее не существовало подобного разделения обязанностей между разработчиками. Относительная простота разрабатываемого ПО, равно как и технологии того времени, позволяли держать процессы, которые сейчас выполняют разные люди, в одних руках. К примеру, в те времена IT-специалист, именуемый веб-мастером, и внешний вид сайта создавал, и серверную часть реализовывал, и размещал сайт на хостинге. То есть, Full-stack разработчики существовали и раньше, просто никто их так не называл.
Однако, IT-сектор не стоял на месте. Требования к программным продуктам росли, появлялись новые языки и технологии, менялись подходы к разработке. Древо IT начало становиться все более и более ветвистым, порождая новые специальности. Вместе с этим, профессия универсального бойца разбилась на два отдельных направления, а затем вновь возродилась с гордым названием “Full-stack Developer”.
    </div>
    <h2>Необходимые компетенции</h2>
    <div class="competentions">
        Впрочем, хоть многие эксперты и утверждают, что Full-stack разработчик — понятие спорное, но вакансий не становится меньше, скорее даже наоборот. Поэтому следует разобраться какими знаниями и в каких областях нужно обладать, чтобы претендовать на такого рода позиции.
        Какой стек технологий и языков находится в распоряжении данного специалиста? Если говорить о FrontEnd составляющей (клиентская сторона), то она у всех примерно одинакова:
        <div class="compul">
        <ul>
            <li>язык верстки HTML и язык стилей CSS;</li>
            <li>языки программирования JavaScript и TypeScript;</li>
            <li>препроцессоры SASS и LESS;</li>
            <li>библиотека jQuery;</li>
            <li>фреймворк Bootstrap</li>
            <li>Angular/React/Vue.js;</li>
            <li>технологии DOM, AJAX, JSON;</li>
            <li>навыки адаптивной и кроссбраузерной верстки.</li>
            <li>реляционные (SQL) и нереляционные (NoSQL) базы данных, уметь их проектировать;</li>
            <li>разбираться в протоколах HTTP, HTTPS;</li>
            <li>уметь оперировать языком запросов SQL и одной из СУБД — MySQL / PostgreSQL / SQLServer,</li>
            <li>уметь проводить тестирование приложений;</li>
            <li>осуществлять Code Review;</li>
            <li>использовать Docker;</li>
            <li>владеть английским языком на уровне Intermediate и выше;</li>
            <li>знать популярные паттерны программирования и уметь их реализовывать;</li>
            <li>иметь хорошее знание алгоритмов и структур данных.</li>
        </ul>
        </div>
    </div>
</div>
</div>
</body>
<footer>Кошеленко Иван Денисович <РИ-210942></РИ-210942></footer>
</html>